<header>
   <div class="maki-head">
      <div class="container">
         <!--<h1 class="gov-head-text"><span class="gov-head-text-gov">GOV</span><span class="gov-head-text-dot">.</span><span class="gov-head-text-maki">MAKISLAVIA</span><span class="gov-head-text-dot">.</span><span class="gov-head-text-com">COM</span></h1>-->
         <a href="/"><img class="img-responsive" src="{{ theme_url }}/img/website_logo.svg" alt="Government of Makislavia" style="margin: 12px 0;"></a>

      </div>
   </div>
   <nav class="navbar navbar-default navbar-static-top maki-navbar">
      <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               {% for page in pages.children %} {% if page.visible %} {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
               <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
               {% endif %} {% endfor %}
            </ul>
         </div>
      </div>
   </nav>
   <div class="flag-stripe">
   </div>
</header>
